{% extends "base.html" %}
{% block content %}

    <h2>Portfolio Bulk Upload</h2>
    <div class="row">
        Upload several position at once by uploading a CSV file.
        <div>
            The CSV should have:
            <ol> 
                <li> Asset tickers as column names </li> 
                <li> Date strings of the format 'yyyy/mm/dd' as indices</li>
                <li> Floating point numbers indicating weights as values </li>
            </ol>
            <strong>It is not necessary to provide a weight for each asset.<br></strong>
            Tickers that are not included in the header will be given 0 weight on all dates.
        </div>
    </div>
    
    <div class="row card-panel grey lighten-4">
        <form method="POST" enctype="multipart/form-data" class="col s12">
                        
            <div class="row">
                <input type="file" id="file" name="file" accept="csv">
            </div>
            
            <div class="row">
                <div class="switch">
                    <div class="row">
                        Overwrite Current Positions
                    </div>
                    <label>
                    Off
                    <input type="checkbox" id="overwrite" name="overwrite">
                    <span class="lever"></span>
                    On
                    </label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="col s12 blue darken-2 btn-large">Upload</button>
            </div>
        </form>
    </div>
        
{% endblock %}